nav ul {
    list-style:none;
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    width: 100%;
  /*
  border: 1px solid #bbb;
  border-radius: 5px;
  padding: 5px;
  background-color: rgba(30, 30, 30, 0.8);
  */
}

.important {
  color:#ff0000;
}

nav ul > li {
  text-align: center;
  padding: 0px;
  color: #CCC;
  color: #444;

  cursor: -moz-pointer;
  cursor: -webkit-pointer;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
}

nav ul > li:hover {
  color: #CCC;
  background-color: rgba(30, 30, 30, 0.8);
}
  nav ul > li > a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    font-size: 10px;
    user-select: none;
    color: #000000;
  }

  nav ul > li > a:hover {
    height: 24px;
    width: 24px;
    font-size: 10px;
    user-select: none;
    color: #CCCCCC;
  }

nav ul > li > a > label {
  cursor: -moz-pointer;
  cursor: -webkit-pointer;
  cursor: pointer;
}
nav ul i {
  font-size: 22px;
}

nav ul is {
  font-size: 40px;
}

nav ul a, nav ul a:hover, nav ul a:active, nav ul a:visited {
  text-decoration: none;
}

.icon-size {
  font-size: 40px;
}

.side-menu {
  top: 0px;
  left: 0px;
  box-sizing: border-box;
  overflow: auto;
  position: absolute;
  color: #CCC;
  background-color: rgba(30, 30, 30, 0.8);
  border:solid 1px #999;
  padding: 0px;
  height: 100%;
  width: 300px;
}

.networkIndicator {
  display: none;
  z-index: 9999;
  pointer-events: none;
  position: absolute;
  top: 3px;
  right: 3px;
  height: 30px;
  width: 30px;
}

.vibration-amine {
  animation: vibration 0.2s infinite;
}

@keyframes vibration {
  0%   { transform: scale(1.0, 1.0) translate(0%, 0%); }
  50%  { transform: scale(1.02, 0.95) translate(0%, 5%); }
  100% { transform: scale(1.0, 1.0) translate(0%, 0%); }
}

.blink {
  /*  text-align: center;
  font-size: 10px;
  padding: 5px;*/
  background-color: pink;
  -webkit-animation: blink 1s ease-in-out infinite alternate;
  animation: blink 1s ease-in-out infinite alternate;
}

@-webkit-keyframes blink {
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.cursor-tooltip {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  color: #FFF;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 10000;
  pointer-events: none;
  display: none;
  max-width: 200px;
  word-wrap: break-word;
}
